# new inpt

In [1]:
input('enter anything')

enter anything1

'1'

In [2]:
a = int(input("enter no  "))
b = int(input("enter no2  "))
print(a+b)

enter no  02
enter no2  03
5

# python keywords

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifiers 
names given to identify anythings (variables , functions , classes,.......)
<br>
Rules for naming identifiers <br>
1.it should not be a keyword <br>
2.no use of special characters except _ <br>
3.it cannot start with a digit <br>
4.it is case sensitive <br>

# variables 
name spaces given to memory location
_a variable hidden ( private )
__a abstract variable

#  Data type in python 
     1. int 
     2. float
     3. complex
     4. list
     5. tuple
     6. dictionary
     7. str
     8. string (str)

# strings in python

In [4]:
'strings'
"valid strings"
""" hi three
    line string """

' hi three\n    line string '

In [5]:
"cat".capitalize()
# capitalizes the first letter

'Cat'

In [6]:
"CaT is LAzy".casefold()

'cat is lazy'

In [7]:
"cat".center(9,'~')

'~~~cat~~~'

In [8]:
"the weather is the very very cold".count("the")

3

In [9]:
"gold".endswith('d')

True

In [10]:
"gold".endswith("old")

True

In [11]:
"gold".endswith("ola")

False

In [12]:
"dog is good".find("is")

4

In [13]:
a = int(input("enter no  "))
b = int(input("enter no2  "))
print("the sum is {}".format(a+b))

enter no  20
enter no2  20
the sum is 40

# Indexing
grabbing specific characters from any string

a = 'astronaut' <br>
a[start:stop:step]

In [14]:
a= 'astronaut'
a[2: :2]

'toat'

In [15]:
a[::-1]

'tuanortsa'

In [16]:
a = input("enter your string? ")
if (a==a[::-1]) :
    print('palindrome')
else :
    print('no')

enter your string? 20
no

#  list 
list is defined using square bracket and elements are separated by , <br>
eg: l = [1,'cat', 2.5]
 
note : a list can have heterogenous data type
=> its ordered and mutable(subject to change can undergo mutations)

In [17]:
l = [1,2,3,4,'cat','dog']

In [18]:
type(l)

list

In [19]:
l[::-1]

['dog', 'cat', 4, 3, 2, 1]

In [20]:
l.append('lion')

In [21]:
l[::]

[1, 2, 3, 4, 'cat', 'dog', 'lion']

In [22]:
l.count(4)

1

In [24]:
l1=[1,2,3]
l2=[4,5,6]
print('before extend: ',l1)
l1.extend(l2)
print('after extend: ',l1)

before extend:  [1, 2, 3]
after extend:  [1, 2, 3, 4, 5, 6]

In [28]:
l1.index(3)

3

In [29]:
l1.insert(2,'cat')
print(l1)

[1, 2, 'cat', 'cat', 3, 4, 5, 6]

In [30]:
l1.remove('cat')

In [31]:
print(l1)

[1, 2, 'cat', 3, 4, 5, 6]

In [32]:
l3 = [1,2,2,3,3,3,4,4,4,4]

print(l3.index(3))

3

In [33]:
l1.remove('cat')
print('l1')

l1

In [34]:
print(l1)

[1, 2, 3, 4, 5, 6]

In [35]:
print(l2)

[4, 5, 6]

# pop vs remove 
<br>
l.remove(obj) -> removes the element <br> 
l.pop(index) -> remove the element from index and returns the object

In [36]:
r = l3.remove(4)
print(r)

None

In [37]:
s=l3.pop(5)
print(s)

3

In [38]:
l3.reverse
print(l3)

[1, 2, 2, 3, 3, 4, 4, 4]

In [41]:
l5=[3,45,65,21,-9,28]

In [42]:
print(l5)

[3, 45, 65, 21, -9, 28]

In [46]:
l5.sort()
print(l5)

[-9, 3, 21, 28, 45, 65]

In [47]:
print ( l5[::-1])

[65, 45, 28, 21, 3, -9]

In [49]:
l5.sort(reverse=True)
print(l5)

[65, 45, 28, 21, 3, -9]

# Tuple: ()
<br>
ordered like lists but immutable
<br>in computer vision image comes as tuple()

In [50]:
l = [1,2,3]
t = tuple(l)
type(l)
print(t)

(1, 2, 3)

In [51]:
l[2] = 'lion'

In [52]:
print(l)

[1, 2, 'lion']

In [53]:
t[1] = '6'

TypeError: 'tuple' object does not support item assignment

# DICTIONARY : {'key' : 'value' , 'key' :  'value'}
<br>
unordered , mutable , and has key and value pairs

In [54]:
d = {'a':1 , 'b':2 , 'c':3} 

d['a'] + d['b']

3

In [58]:
l[2:3:1]

['lion']

In [59]:
q=l[2]
print(q)

lion

# sets : {}
<br>
sets contain unique elements , duplicates will be clubbed together 
<br>
helpful in classification problems

In [60]:
s= {1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [61]:
s1 = {3,4,5}
s1.issubset(s)

True

In [62]:
s.issuperset(s1)

True

# Decision Making:
<br>

   1. if else <br>
   2. nested if else <br>
   3. if-elif <br>

In [65]:
n = int((input('enter any no. ? ')))
if n%2==0 :
    print('even')
else :
    print('odd')

enter any no. ? 34
even

In [69]:
if (int(input('enter no. ? ')) & 1) :
    print('odd')
else :
    print('even')

enter no. ? 653
odd

# nested if else

# elif

In [71]:
n = int(input('enter : ? '))
if n<0 :
    print('-ve')
elif n>0 :
    print('+ve')
else :
    print('0')

enter : ? -546
-ve

# Loops in PYTHON

# for<br>
for i in [1,2,3,4]:<br>
    print(i)
    <br>
note : it iterates over iterable , it never checks true / false 
<br>
while loop iterates till the condition is true
<br>
i=0;<br>
# while <br>
while i<=4 :<br>
    print(i)<br>
    i+=1
    
# infinite loop
 while True

In [72]:
for i in [1,2,3,4,5,6,7,8,9,10] :
    print(i,end= ',')

1,2,3,4,5,6,7,8,9,10,

# Print function end printing  ||

# The while loop :

In [74]:
i=0 
while ( i<100 ) :
    print(i,end = ',')
    i+=10

0,10,20,30,40,50,60,70,80,90,

# WAPP
1.to find whether given numbers is Adome <br>
2.to print all adome numbers b/w 10 and 1000 <br>

# Exponenetial operator 
 **

In [75]:
2**4

16

In [84]:
n = input('enter the number ? ')
m = n[ : : -1]
s = int(n)**2
p = str(s)
r = p[ : :-1]
if ( int(r)**.5 ) == int(m) :
    print('adome')
else :
    print('not')

enter the number ? 13
adome

In [78]:
n

'12'

In [79]:
m

'21'

In [80]:
s

144

In [81]:
p

'144'

In [82]:
r

In [123]:
n=10 
while (n<1001) :
    m = str(str(n)[ : : -1])
    s = n**2
    p = str(s)
    r = p[ : :-1]
    if int(str(int(r)**0.5)[ : :-1]) == n :
        print(n)
    n+=1

ValueError: invalid literal for int() with base 10: '0.1'

In [120]:
m

'0001'

In [108]:
m

'0001'

In [109]:
s

1000000

In [110]:
p

'1000000'

In [111]:
r

'0000001'

In [114]:
n = int(input('number: '))

n2 =

he

leetcode
2 minutes research

In [19]:
i = 1
while i!=0 :
    n = int(input("enter the no. ? "))
    p = int(int(str((int(str(n)[ : : -1])**2))[::-1])**.5)
    if n == p :
        print('aldom no')
    else :
        print('try again')
    i = int(input('enter 0 to exit'))

enter the no. ? 12
aldom no
enter 0 to exit9
enter the no. ? 13
aldom no
enter 0 to exit0

In [23]:
i = 10
while i<1001 :
    n = i
    p = int(int(str((int(str(n)[ : : -1])**2))[::-1])**.5)
    if n == p :
        print(n)
    i+=1

11
12
13
21
22
31
101
102
103
111
112
113
121
122
201
202
211
212
221
301
311